[submodule "Localization"]
	path = Localization
	url = http://github.com/ashikase/Localization
[submodule "Common"]
	path = Common
	url = http://github.com/ashikase/Common
[submodule "Libraries/libpackageinfo"]
	path = Libraries/libpackageinfo
	url = http://github.com/ashikase/libpackageinfo
