<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>en</string>

        <key>CFBundleDisplayName</key>
        <string>Basic Demo</string>

        <key>CFBundleExecutable</key>
        <string>TechSupport_Basic</string>

        <key>CFBundleIconFile</key>
        <string>icon.png</string>

        <key>CFBundleIdentifier</key>
        <string>jp.ashikase.techsupport.demo.basic</string>

        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>

        <key>CFBundlePackageType</key>
        <string>APPL</string>

        <key>CFBundleSignature</key>
        <string>????</string>

        <key>CFBundleSupportedPlatforms</key>
        <array>
            <string>iPhoneOS</string>
        </array>

        <key>CFBundleVersion</key>
        <string>1.0</string>

        <key>DTPlatformName</key>
        <string>iphoneos</string>

        <key>DTPlatformVersion</key>
        <string>7.0</string>

        <key>DTSDKName</key>
        <string>iphoneos7.1</string>

        <key>LSRequiresIPhoneOS</key>
        <string>1</string>

        <key>MinimumOSVersion</key>
        <string>3.0</string>

        <key>UIDeviceFamily</key>
        <array>
            <integer>1</integer>
            <integer>2</integer>
        </array>

    </dict>
</plist>
